body {
  background-color: #2a3b50;
}
.main-header {
  padding-top: 30px;
}
.main-header img {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 200px;
  padding: 30px;
}

.main-header h1 {
  text-align: center;
  font-size: 70px;
  margin-top: auto;
  color: #fff;
}

.login-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 15px 0;
  background-color: #009595;
  margin: 50px 0 0;
  border: 0;
  font-size: 16px;
  color: white;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  margin: 5px 0;
  padding: 20px 14px 20px 35px;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  color: #D3D3D3;
  border-bottom: 1px solid rgba(255,255,255,.2);
  box-sizing: border-box;
}

.login-container input[type="text"] {
  border-top: 1px solid rgba(255,255,255,.2);
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  outline: 0;
}

.login-container .password,
.login-container .username {
  position: relative;
}

.login-container .password:before,
.login-container .username:before {
  font-family: FontAwesome;
  position: absolute;
  top: -6px;
  left: 6px;
  font-size: 23px;
  color: white;
}

.register-link {
  color: #fff;
}

.not-active {
  color: white;
  font-style: italic;
}

.login-container .username:before {
  content: "\f007";
}

.login-container .password:before {
  content: "\f023";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d3d3d3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d3d3d3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d3d3d3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d3d3d3;
}
